body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

nav {
  margin: 2rem;
}

#logo {
  text-align: left;
}

#logo img {
  position: absolute;
  width: auto;
  height: 7rem;
  background: #000000;
  z-index: 999;
}

#logo hr {
  position: absolute;
  width: 100%;
  border: none;
  border-bottom: 1px solid #aaa;
  top: 8vh;
  margin-left: 23rem;
}
